body{
    background-color: #191919;
    color: white;
    margin: 0;
    font-family: "Nunito", sans-serif;
}



#toppart{
    margin: 0;
    background-color: #79adf7;
}

#bottompart{
    margin: 30px;
    padding: 30px;
    padding-top: 10px;
    background-color: #282828;
    border-radius: 20px
}

.menubuttons{
    text-align: center;
    background-color: #79adf7;
    border: none;
    padding: 13px;
    font-size: 18px;
    font-family: "Nunito";
    
}

.menubuttons:hover{
    background-color: #285da8;
}

.active{
    background-color: #285da8;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;    
}


.topimages{

    padding: 0;
    width:180px;
    vertical-align: bottom;
}



